/*JUMBOTTRON DE LA PAGE*/
#banniere {
    background-size: cover;
    background-color: #FFF;
    text-align: center;
    color:white;
    padding : 75;
}


/*NAVBAR*/
.rounded.float-left {
    height: 75px;
}

/* barre bleu sous la navBarre*/
.nav-link {
    border-bottom: 3px solid #FFF;
    color: white;
    margin-right: 5;
}